body{
	background-color: #F8F6F1;
}
.payment_details_heading{
	font-size: 24px;
	margin: 16px auto 0px;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.payment_details_card{
	margin: 16px auto;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
	background-color: white;
	padding: 16px;
}

.form-control{
	margin: 16px auto;
}

#option_title{
	margin:16px auto;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.67);
}
.option_radio{
	margin:16px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.67);
}


.location{
	padding-left:20px;
}
.chbox1{
	margin:16px;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.67);
}

.order_button,.order_button:hover{
	color: white;
	background-color: #FF5535;
	text-transform: uppercase;
	padding: 8px 16px;
}


.payment_method_icon{
    height: 400px;
/*    margin: 32px;*/
}

.details{
font-weight: bold;
font-size:16px;

}

.divspacing{
font-size:16px;

}
.menu_card {
	margin: 16px auto;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
	padding: 32px;
	background-color: white;
}

.menu_card_heading {
	font-size: 24px;
	margin: 16px auto 0px;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.menu_card_image {
	display: block;
	margin: auto;
	height: 197px;
	width: 296px;
}

.menu_card_title {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.87);
}

.menu_card_sub_title {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.57);
}

.dropdown{
	width:200px;
}

.menu_card_price{
float:right;
color:red;
}