body {
	font-family: 'Roboto', sans-serif;
	background-color: #f3e5f5;
}

.main {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
	display: block;
	background-color: #fff;
	margin: 0px auto;
	padding: 16px;
}

.sub {
	padding: 8px 0px;
}

.sub p {
	padding: 4px 0 0 0;
	font-weight: 700;
}

.sub h4 {
	text-align: center;
	margin-bottom: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.submit_button {
	display: block;
	margin: 10px auto;
	padding: 5px 20px;
	border: 0px;
	background-color: #167716;
	color: #fff;
	text-transform: uppercase;
}

.submit_button:hover, .submit_button:focus {
	background-color: #178b17;
	color: white;
}

.navbar {
	/*text-transform: uppercase;*/
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.navbar a:focus {
	outline: 0;
}

.navbar .navbar-nav {
	letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
	outline: 0;
}

.navbar-default, .navbar-inverse {
	border: 0;
}

.navbar-default {
	padding: 12px;
	background: #1C2C39;
	margin: 0px;
	border: 0px solid #1C2C39;
	border-radius: 0px;
}

.navbar-brand {
	margin-left: 54px;
}

.tiff {
	color: #00AA44;
	font-size: 32px;
	margin: 0px;
}

.eat {
	color: #ff5555;
	font-size: 32px;
}

@media ( min-width :992px) {
	.main {
		width: 550px;
		margin: 48px auto 0px;
	}
	.sub p {
		margin-left: 64px;
	}
}

@media ( min-width :768px) {
	.navbar-fixed-top {
		padding: 12px 0;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
		background: #1c2c39;
	}
	.navbar-fixed-top .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
		color: #ffffff;
	}
	.navbar-fixed-top.navbar-shrink {
		padding: 10px 0;
	}
	.navbar-fixed-top.navbar-shrink .navbar-brand {
		font-size: 1.5em;
	}
}