body {
    font-family: Roboto, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    /*    font-size: 24px;*/
}
.contactUsTitle {
    font-size: 24px;
    margin: 16px auto 0px;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.contactUsCard {
    margin: 16px auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.26);
    background-color: white;
    padding: 16px;
}
.contactUsCard h3 {
    font-size: 16px;
}
.contactUsCard>p {
    margin: 24px auto;
}
.contactUsCard>p>img {
    margin-right: 8px;
}
#byResoneuronance {
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}
