body{
margin-bottom: 64px;
}

.add_wallet_heading {
	font-size: 24px;
	margin: 16px auto 0px;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.add_wallet_card {
	margin: 16px auto;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.26);
	padding: 16px;
	background-color: white;
}
.add_wallet_title {
	margin: 16px auto 16px;
	font-size: 24px;
    text-align: center;
}
.wallet_balance1{
    margin: 16px auto 16px;
	font-size: 34px;
    text-align: center;
}


.wallet_img1{
	height: 300px;
	display: block;
	margin: auto;
}

.add_money_button{
	color: white;
	background-color: #FF5535;
	text-transform: uppercase;
	margin: 16px auto;
}

.add_money_button:hover{
	color: white;
	background-color: rgba(255, 85, 53, 0.70);
}