*{
/*    border: 1px solid black;*/
}
.header{
    height: 96px;
    background-color: #2233b4;
}
.appname{
    font-size: 24px;
    color: white;
    margin: 20px 5px;
}
.none{
    display: inline-block;
}
.login{
    font-size: 24px;
    color: white;
    margin: 20px 25px;
}
.main{
    margin: 10px 0px;
}
.first_in_main{
    background-color: rgba(128, 128, 0, 0.27);
    height: 30%;
}
.firstheading{
     margin: 0px; 
     padding: 0px;
    font-size: 30px;
     text-align: center;
     padding-top: 24px;
     color: white;
}

.buttons{
    margin-bottom: 18px;
}
.select{
    margin: 8px 0 0 0;
}
.input{
    margin: 20px 25px;
    background-color: white;
    height: 185px;
}
.input h4{
    padding-top: 16px;
    margin: 16px 0px 10px 30px;
    font-size: 17.5px;
}
.griddiv{
    margin: 10px auto 15px;
}
.input a{
    display: block;
}
.areatext{
    margin: 15px 0px 0px 25px;
    font-size: 20px;
}
.cards{
    box-shadow: 2px 2px 2px 1px #a7a7a7;
    padding: 12px;
}
.cards img{
    width: 100%;
    height: 200px;
}
.cards h4,h6{
    margin: 0px;
    padding: 0px;
}
.cards h4{
    margin: 10px auto 0px;
}
.cards h5{
    display: inline-block;
    margin: 15px 0px 0px 50px;
}
.cards h6{
    font-size: 14px;
    margin-bottom: 20px;
}
.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}
.find_tiffin{
    margin-top: 8px;
    padding: 5px 10px;
     background-color:  #2233b4;
    border: 0px;
    color: white;
}
.footerdiv{
     height: 200px;
     background-color:  rgba(128, 128, 0, 0.27);
}
.footerdiv p{
    text-align: center;
    padding-top: 50px;
    color: white;
}

@media(min-width:500px){
    .login{
    float: right;
}
    .input{
    height: 185px;
}
    .cards h5{
    display: inline-block;
    margin: 15px 0px 0px 100px;
}
}

@media(min-width:700px){
        .input{
    height: 185px;
}
.cards h5{
    display: inline-block;
    margin: 15px 0px 0px 15px;
}
}


@media(min-width:992px){
    .none{
    display: none;
}
.appname{
    margin-left: 70px;
}
.login{
    margin-right: 5px;
}
.main{
    margin: 20px 100px;
}
        .input{
    height: 120px;
}
}