body {
	
}

a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	color: #7E57C2;
}

.strong{
color: #7E57C2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

header {
	text-align: center;
	color: #fff;
	background: #7E57C2;

}

header .container {
	padding-top: 40px;
	padding-bottom: 25px;
	
}

header img {
	display: block;
	margin: 0 auto 20px;
}

header .intro-text .name {
	display: block;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: 700;
	width:100%;
}

header .intro-text .skills {
	font-size: 1.25em;
	font-weight: 300;
}

@media ( min-width :768px) {
	header .container {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	header .intro-text .name {
		font-size: 4.75em;
	}
	header .intro-text .skills {
		font-size: 1.75em;
	}
}

@media ( min-width :768px) {
	.navbar-fixed-top {
		padding: 12px 0;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
	}
	.navbar-fixed-top .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	.navbar-fixed-top.navbar-shrink {
		padding: 10px 0;
	}
	.navbar-fixed-top.navbar-shrink .navbar-brand {
		font-size: 1.5em;
	}
}

.navbar {
	/*text-transform: uppercase;*/
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.navbar a:focus {
	outline: 0;
}

.navbar .navbar-nav {
	letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
	outline: 0;
}

.navbar-default, .navbar-inverse {
	border: 0;
}

footer {
	color: #fff;
	text-align: center;
}

footer h3 {
	margin-bottom: 30px;
}

footer .footer-above {
	padding-top: 30px;
	background-color: #2c3e50;
}

footer .footer-col {
	margin-bottom: 30px;
}

footer .footer-below {
	padding: 15px 0;
	background-color: #233140;
}

.table table-hover {
	
	border: 1px solid #000000;
}

.table table-hover tr td a {
	display: block;
	height: 100%;
	width: 100%;
}

.table table-hover tr td {
	
	padding-left: 0;
	padding-right: 0;
}

.rns {
	text-align: center;
	font-size: 20px;
}

.wrapper {
	margin-left: 70px;
	font-size: 20px;

}

.username {
	font-size: 20px;
	text-align: right;
     padding:  15px 1000px;	

}


.back_button{
	font-size: 20px;
	text-align: left;
	padding: 5px 0;
}

.button {
	width: 140px;
	height: 40px;
	/*position: absolute;
    background-color:#69F0AE ;*/
	color: red;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	border: 2px solid #424745;
}

.demo-card {
	width: 100%;
	max-width: 298px;
	margin: 0 auto 100px;
	
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.42);
}

.card-img-top {
	display: block;
	max-width: 298px;
	max-height: 395px;
	width: auto;
	height: auto;
	/* width:440px;  
    height: auto*/
}

.card-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.DocumentList {
	/*overflow-x:scroll;
    overflow-y:hidden;*/
	height: 330px;
	width: 89%;
	padding: 20px;
	margin-left: 75px;
}

.DocumentItem {
	border: 1px solid black;
	padding: 20px;
	height: 330px;
	font-size: 25px;
}

.edit-img-top {
	width: 20px;
	height: 20px;
}

.circle {
	display: block;
	width: 230px;
	height: 230px;
	margin: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.tiffin-name {
	font-size: 40px;
	text-align: center;
}

/*body {
  margin:0;
  padding:0;
  background-color:#e5e5e5;
}

p {
  margin:0;
  padding:0;
}

header {
  width:100%;
  height:35px;
  background-color:#333;
}

header a {
  padding:0 0 0 30px;
  font-size:20px;
  font-family:myriad pro;
  line-height:30px;
  color:#cacaca;
  text-decoration:none;
}*/
#box {
	width: 600px;
	height: 680px;
	background-color: #757575;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	border-radius: 5px;
}

#boxtitle {
	width: 600px;
	height: 40px;
	background-color: #9E9E9E;
	text-align: center;
	line-height: 35px;
	color: #9C27B0;
	font-family: verdana;
	font-size: 30px;
	border-radius: 5px 5px 0 0;
}

#form {
	margin-top: 20px;
}

input[type="text"] {
	margin-bottom: 5px;
	width: 320px;
	height: 35px;
}

input[type="add"] {
	margin-bottom: 5px;
	width: 320px;
	height: 35px;
}

input[type="id"] {
	margin-bottom: 5px;
	width: 320px;
	height: 35px;
}

input[type="phone"] {
	margin-bottom: 5px;
	width: 320px;
	height: 35px;
}

select {
	margin-bottom: 15px;
	width: 204px;
	height: 31px;
}

input[type="submit"] {
	/*width:120px;
  height:40px;
 background-color:#F3E5F5;
  border:1px solid #ffcc00;
  font-size:20px;*/
	width: 170px;
	color: red;
	height: 40px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	font-size: 20px;
	border: 2px solid #424745;
}

.tables {
	text-align: center;
}

.price {
	text-align: right;
	color: red;
}

.status {
	margin-left: 10px;
	font-size: 20px;
}

.img-top {
	float: right;
	width: 20px;
	height: 20px;
}

.tablesorter {
	border: 1px solid black;
}

.card-block {
	display: block;
}

.demo-card1 {
	width: 100%;
	max-width: 381px;
	height: 400px;
	margin: 0 auto 100px;
}

.card-img-top1 {
	display: block;
	max-width: 380px;
	max-height: 420px;
	width: auto;
	height: auto;
	padding-top: 10px;
}

.demo-card2 {
	width: 100%;
	max-width: 441px;
	height: 430px;
	margin: 0 auto 100px;
}

.card-img-top2 {
	display: block;
	max-width: 660px;
	max-height: 430px;
	width: auto;
	height: auto;
	padding-top: 10px;
	padding-left: 14px;
}

#table0 {
	font-family: areil;
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
	font-size: 17px;
}


.hscroll{
	width: 2850px; 
	overflow-x: hidden;
}

.vieworder{
	padding-left:160px;
	padding-top:0.2px;
	padding-bottom:60px;
    font-size:20px;
}

.option_dropdown{
width:180px;	
}

.deliver_report{
	padding-left:20px;
	padding-bottom:30px;
}

.edit_info{
	color:#7E57C2;
}

.view_order
{
	font-size:20px;
	padding-left:80px;
}

.wrapper1 {
	
	font-size: 20px;
	padding-top:2px;
}

.view_orders{
	font-size:20px;
	padding-left:160px;
}

.edit_meal{
	font-size:20px;
	padding-left:160px;
}
.adminlogin{
	font-size:20px;
}

.add_meal_btn,.add_meal_btn:hover{
	padding-left: 15px;	
	background-color:#498BFA; 
	text-transform: uppercase; 
	color: white;
}



.back_btn,.back_btn:hover{
	margin: 2px 1100px;	
	background-color:#498BFA; 
	text-transform: uppercase; 
	color: white;
}


.view_order_btn,.view_order_btn:hover{
	margin: 2px 1100px;	
	background-color:#498BFA; 
	text-transform: uppercase; 
	color: white;
}
.navbar-default{
	padding: 8px;
	background-color: #1C2C39;
	margin: 0px;
	border: 0px solid #1C2C39;
	border-radius: 0px;
}


.navbar-brand{
	margin-left: 54px;

}

.tiff{
	color: #00AA44;
	font-size: 32px;
	margin: 0px;
}

.eat{
	color:#ff5555; 
	font-size: 32px;
}

