body {
	font-family: 'Roboto', sans-serif;
	background-color: #f3e5f5;
}


a, a:hover, a:focus, a:active {
	outline: 0;
	color: #2196f3;
}

.wrapper {
	margin: 0px auto 32px;
}

.username {
	font-size: 20px;
	text-align: right;
}


.meal-card {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
	background-color: #fff;
	padding: 16px;
}

.card-img-top {
	display: block;
	width: 100%;
	margin: auto;
}

.card-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.price {
	text-align: right;
	color: #9c27b0;
	font-weight: bold;
	font-size: 20px;
}

.status {
	font-size: 20px;
	margin: 16px auto;
}

.status p {
	margin: 16px auto;
}

.wrapper1 {
	margin: 32px auto;
}

.view_orders {
	font-size: 20px;
	margin: 16px auto;
}

.edit_meal {
	font-size: 20px;
	margin: 0px auto 16px;
}

.adminlogin {
	font-size: 20px;
}

.add_meal_btn {
	margin-right: 8px;
	background-color: #498BFA;
	text-transform: uppercase;
	color: white;
	outline: none;
	border: 0;
}

.add_meal_btn:hover, .add_meal_btn:focus {
	background-color: #6EA2FA;
}

.back_btn {
	background-color: #498BFA;
	text-transform: uppercase;
	color: white;
	outline: none;
	border: 0;
}

.back_btn:hover, .back_btn:focus {
	background-color: #6EA2FA;
}
.btn-primary {
	text-transform: uppercase;
}
.navbar-default {
	padding: 8px;
	background-color: #1C2C39;
	margin: 0px;
	border: 0px solid #1C2C39;
	border-radius: 0px;
}

.navbar-brand {
	margin-left: 0px;
}

.tiff {
	color: #00AA44;
	font-size: 32px;
}

.eat {
	color: #ff5555;
	font-size: 32px;
}