body {
	background-color: #f0f3f5;
	font-family: 'Roboto';
	color: rgba(0, 0, 0, 0.87);
}

.log {
	padding: 18px;
}

.login_box, .register_box {
	background-color: #fff;
	padding: 39px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	margin: 38px 16px;
}

.login_form_title, .register_form_title {
	border-bottom: 1px solid rgba(0, 0, 0, 0.26);
	padding: 0px 0px 16px;
	font-size: 28px;
	font-weight: 300;
}

label {
	font-size: 16px;
	font-weight: 400;
	margin: 16px auto 4px;
}

.login_form_card p {
	font-size: 20px;
	text-align: center;
}

.google img {
	width: 171px;
	height: 46px;
}

.google {
	text-align: center;
	margin: 16px auto;
}

.btn-block {
	text-transform: uppercase;
	margin: 16px auto;
}

#register_now {
	display: block;
	text-align: center;
	margin-top: 24px;
}

/*Copied from register_page.css PLEASE REMOVE THAT CSS FILE LATER */
.register_form {
	margin: 26px auto;
}

.register_button {
	margin: 16px 0;
}

@media only screen and (min-width:768px) {
	.login_box, .register_box {
		max-width: 480px;
		margin: 32px auto;
	}
}