body {
	font-family: 'Roboto', sans-serif;
	background-color: #f3e5f5;
}

.navbar a:focus {
	outline: 0;
}

.navbar .navbar-nav {
	letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
	outline: 0;
}

.navbar-default, .navbar-inverse {
	border: 0;
}

.navbar-default {
	padding: 10px;
	background: #1C2C39;
	margin: 0px;
	border: 0px solid #1C2C39;
	border-radius: 0px;
}

.navbar-brand {
	margin-left: 54px;
}

.tiff {
	color: #00AA44;
	font-size: 32px;
	margin: 0px;
}

.eat {
	color: #ff5555;
	font-size: 32px;
}

.main {
	font-size: 24px;
	margin-top: 48px;
}

.Lunch {
	
}

.type {
	max-width: 480px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
	display: block;
	background-color: #fff;
	margin: 32px 0;
	padding: 16px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
}

.type p {
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding: 0px 0 16px;
}

.type h5 {
	margin-left: 16px;
}

.rowdiv {
	margin: 16px auto;
}

.submit_button {
	width: 100%;
	margin: 10px auto;
	padding: 5px 20px;
	border: 0px;
	background-color: #167716;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin: 10px auto;
}

.submit_button:hover, .submit_button:focus {
	background-color: #178b17;
	color: white;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.26);
}

.footerdiv {
	height: 200px;
	background-color: rgba(128, 128, 0, 0.27);
}

.footerdiv p {
	text-align: center;
	padding-top: 50px;
	color: white;
}

@media ( min-width :768px) {
	.navbar-fixed-top {
		padding: 12px 0;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
		background: #1c2c39;
	}
	.navbar-fixed-top .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
		color: #ffffff;
	}
	.navbar-fixed-top.navbar-shrink {
		padding: 10px 0;
	}
	.navbar-fixed-top.navbar-shrink .navbar-brand {
		
	}
}

@media ( min-width :992px) {
}