body{
margin-bottom: 64px;
}
.prev_order_div{
/*    border: 1px solid rgba(0, 0, 0, 0.44);*/
    padding: 16px;
}

.prev_order_heading {
	font-size: 24px;
	margin: 16px auto 0px;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.prev_order_card {
	margin: 8px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.26);
	padding: 16px;
	background-color: white;
    width: 250px;  
}
.menu_card_title{
/*    text-align: center;*/
}
.menu_card_image1{
    height: 200px;
    /* display: block; */
    margin: auto;
}

#prevOrderImage {
	height: 200px;
	
    /*display: block;*/
    margin: auto;
}


#input-2a{
height: 30px;
}

.repeat_order_button1{
	color: white;
	background-color: #FF5535;
	text-transform: uppercase;
	margin: 16px auto;
}

.repeat_order_button1:hover{
	color: white;
	background-color: rgba(255, 85, 53, 0.70);
}