body {
	font-family: 'Roboto', sans-serif;
	background-color: #F8F6F1;
}

/*---Css For Header-----*/
.navbar-default {
	padding: 8px;
	background-color: #1C2C39;
	margin: 0px;
	border: 0px solid #1C2C39;
	border-radius: 0px;
}

.navbar-default .navbar-nav>li {
	color: #ccc;
	margin: 0;
	padding: 16px;
}

.navbar-default .navbar-nav>li>a {
	color: #ccc;
	font-size: 16px;
	padding: 0;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #fff;
}

#navbar_link1 {
	color: #00AA44;
	text-decoration: none;
	font-size: 16px;
}

#navbar_link1:hover {
	text-decoration: none;
	color: rgb(0, 255, 102);
}

.tiff {
	color: #00AA44;
	font-size: 32px;
	margin: 0px;
}

.eat {
	color: #ff5555;
	font-size: 32px;
}

.navbar-collapse {
	border: 0px;
}

/*---End-Header-----*/

/*Css For Drawer*/
#drawer_link1, #drawer_link1:hover {
	text-decoration: none;
}

#drawer_button1 {
	position: absolute;
	top: 0px;
	left: 0px;
}

@media only screen and (min-width: 768px) {
	.navbar-default .navbar-nav>li {
		padding: 24px 16px;
	}
}